@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.no-scroll {
  overflow: hidden;       /* Removes scrolling */
  scrollbar-width: none;  /* Firefox: hide scrollbar */
}

.no-scroll::-webkit-scrollbar {
  display: none;          /* Chrome, Safari, Edge: hide scrollbar */
}

* {
  /* border: 1px solid red; */
}

.inter{
  font-family: 'Inter', sans-serif;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


@font-face {
  font-family: "sidewaretrialregular";
  src: url("/fonts/sidewaretrialregular.otf") format("opentype");
}
@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/Helvetica.ttf') format('truetype');
}
.helvetica{
  font-family: 'Helvetica', sans-serif;
} 

.pixel{
  font-family: "sidewaretrialregular", sans-serif;
}



