@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.no-scroll {
  overflow: hidden;       /* Removes scrolling */
  scrollbar-width: none;  /* Firefox: hide scrollbar */
}

.no-scroll::-webkit-scrollbar {
  display: none;          /* Chrome, Safari, Edge: hide scrollbar */
}

* {
  /* border: 1px solid red; */
}

@keyframes rotateSwing {
  0% { transform: rotate(12deg); }
  50% { transform: rotate(-12deg); }
  100% { transform: rotate(12deg); }
}

.swing {
  animation: rotateSwing 0.5s infinite steps(1);
}

.inter{
  font-family: var(--font-inter), sans-serif;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


/* Font faces are now loaded via next/font/local */
.helvetica{
  font-family: var(--font-helvetica), sans-serif;
} 

.pixel{
  font-family: var(--font-sideware), sans-serif;
}



